# See https://help.github.com/ignore-files/ for more about ignoring files.

target
dist
*.iml
.idea/
node

# dependencies
car-wash-forecast-frontend/node_modules

# testing
/coverage

# production
/build

npm-debug.log*
