<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">
<head>
    <meta charset="UTF-8">
    <title>Car wash forecast</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="bundle.js"></script>
</head>
<body>
<script src="app.js"></script>
<script src="service/provider.js"></script>
<script src="controller/weather.js"></script>
<h1 align="center">Car Wash Forecast</h1><hr>
    <div ng-controller="WeatherCtrl">
        <form ng-submit="getWeather()">
            <select ng-model="selected"
                    ng-options="option.label for option in options">
            </select>
            <br><br>
            <label>City and country:</label>
            <input type="text" ng-model="location.city" placeholder="Enter city here">
            <input type="text" ng-model="location.country" placeholder="Enter country here">
            <hr>
            <h2>City: {{location.city}}</h2>
            <h2>Country: {{location.country}}</h2>
            <input type="submit" value="Get weather">
            <p>{{result}}</p>
        </form>
    </div>
</body>
</html>

